.item {
  width: 350px;
  border: 1px solid #939393;
  border-radius: 1.5rem;
  margin-top: 5rem;
  padding: 1rem;
  transition: 0.6s;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  height: 460px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.item-description {
  border-top: 1px solid #000;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-description .item-title {
  font-size: 18px;
  font-weight: 500;
  color: #2d2d2d;
  margin-top: 1rem;
}

.item-description .description {
  font-size: 16px;
}

.item-prices {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.item-old-price {
  text-decoration: line-through;
  color: #939393;
}
.item-new-price {
  font-size: 18px;
  color: #ff4141;
  font-weight: 600;
}
