@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.main-title {
  /* h1 */
  color: #171717;
  font-size: 100px;
  font-weight: 700;
}

.title {
  /* h2 */
}

.subtitle {
  /* h3 */
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}

.desrciption {
  /* p */
}

.btn {
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
}
